In [75]:
import pandas as pd 
import psycopg2
import urllib 
from sqlalchemy import create_engine 
import json
import requests
from datetime import date, datetime, timedelta
from pandasql import sqldf
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import time

qy = lambda q: sqldf(q, globals())

def exec_aws(query):
    conn = psycopg2.connect(
        database="sportsData", user="postgres", password="Tigers11", 
        host="radb.cg2eupnfamqj.us-east-2.rds.amazonaws.com", port="5432"
    )
    DF = pd.read_sql(query, conn)
    return DF

def connect_aws(dataframe, table_name, exists):
    conn_string = 'postgresql://postgres:Tigers11@radb.cg2eupnfamqj.us-east-2.rds.amazonaws.com:5432/sportsData'
    engine = create_engine(conn_string)

    dataframe.to_sql(table_name, con=engine, if_exists=exists, index=False)

    conn = psycopg2.connect(conn_string)
    conn.autocommit = True


#def connect_sql(dataframe, table_name, option):
#    server = 'tcp:radbs.database.windows.net,1433'  
#    database = 'RADB'  
#    username = 'jorge'  
#    password = 'goJays0329!'  
#
#    quoted = urllib.parse.quote_plus("DRIVER={ODBC Driver 18 for SQL Server};SERVER=tcp:radbs.database.windows.net,1433;DATABASE=RADB;UID=jorge;PWD=goJays0329!") 
#    engine = create_engine('mssql+pyodbc:///?odbc_connect={}'.format(quoted)) 
#    dataframe.to_sql(table_name, schema='dbo', con=engine, index=False, if_exists=option)
#
#    return print("Table injected")

def get_yearly_player_gamelog(PLAYER_URL, YEAR, PLAYER_NAME):
    try:
        HTML_RESULTS = pd.read_html('{}'.format(PLAYER_URL))
        LEN_HTML_RESULTS = len(HTML_RESULTS)
        EMPTY_LIST = []

        for ORDER in range(LEN_HTML_RESULTS):
            if len(HTML_RESULTS[ORDER].columns.tolist())==17:
                if LEN_HTML_RESULTS - 2 == ORDER:
                    TABLE = HTML_RESULTS[ORDER]
                    TABLE['Type'] = 'Preseason'
                else:
                    TABLE = HTML_RESULTS[ORDER]
                    if len(TABLE[(TABLE['OPP'].str.contains('GAME'))])>0:
                        TABLE['Type'] = 'Postseason'
                    else:
                        TABLE['Type'] = 'Regular'
                EMPTY_LIST.append(TABLE)
            else: 
                pass
        
        DF = pd.concat(EMPTY_LIST, sort=False, ignore_index=True)    
        DF = DF[(DF['OPP'].str.startswith('@')) |
                (DF['OPP'].str.startswith('vs'))].reset_index(drop=True)
        DF['Season'] = '{}-{:02d}'.format(int(YEAR)-1, int(YEAR)-2000)
        DF['Player'] = PLAYER_NAME
        DF = DF.set_index(['Player', 'Season', 'Type']).reset_index()
        # Successful 3P Attempt
        DF['3PT_SA'] = DF['3PT'].str.split('-').str[0]
        # Failed 3P Attempt
        DF['3PT_A'] = DF['3PT'].str.split('-').str[1]
        DF[
            ['MIN', 'FG%', '3P%', 'FT%', 'REB', 'AST', 'BLK', 'STL', 'PF', 'TO', 'PTS', '3PT_SA', '3PT_A']

          ] = DF[

                ['MIN', 'FG%', '3P%', 'FT%', 'REB', 'AST', 'BLK', 'STL', 'PF', 'TO', 'PTS', '3PT_SA', '3PT_A']

                ].astype(float)    
        return DF    
    except Exception as e:       
        pass

def get_schedule(URL, TEAM):
    try:

        HTML_RESULTS = pd.read_html('{}'.format(URL))
        LEN_HTML_RESULTS = len(HTML_RESULTS)
        EMPTY_LIST = []

        for ORDER in range(LEN_HTML_RESULTS):
            if len(HTML_RESULTS[ORDER].columns.tolist())==7:
                if LEN_HTML_RESULTS== ORDER:
                    TABLE = HTML_RESULTS[ORDER]
                else:
                    TABLE = HTML_RESULTS[ORDER]
                EMPTY_LIST.append(TABLE)
            else: 
                pass

        DF = pd.concat(EMPTY_LIST, sort=False, ignore_index=True)   
        DF["TEAM"] = TEAM

        return DF    
    except Exception as e:       
        pass

In [8]:
PLAYERS = pd.read_excel('player_info.xlsx')
BETS = pd.read_excel('bets.xlsx') 

PLAYERS.head()

          PLAYER TEAM  AGE DRAFT YEAR  ESPN_GAMELOG_ID
0    A.J. Lawson  DAL   22  Undrafted          4686890
1       AJ Green  MIL   23  Undrafted            13983
2     AJ Griffin  ATL   19       2022          4432585
3   Aaron Gordon  DEN   27       2014          3064290
4  Aaron Holiday  ATL   26       2018          3922230

In [9]:
PLAYERS.reset_index()

PLAYERS.head()

          PLAYER TEAM  AGE DRAFT YEAR  ESPN_GAMELOG_ID
0    A.J. Lawson  DAL   22  Undrafted          4686890
1       AJ Green  MIL   23  Undrafted            13983
2     AJ Griffin  ATL   19       2022          4432585
3   Aaron Gordon  DEN   27       2014          3064290
4  Aaron Holiday  ATL   26       2018          3922230

In [ ]:
connect_psql(BETS, table_name='BETS', option='append')

## Underdog API - get betting data

In [105]:
url = "https://api.underdogfantasy.com/beta/v3/over_under_lines"

payload={}
headers = {
  'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/109.0',
  'Accept': 'application/json',
  'Accept-Language': 'en-US,en;q=0.5',
  'Accept-Encoding': 'gzip, deflate, br',
  'Client-Type': 'web',
  'Client-Version': '202301131646',
  'User-Latitude': '34.80577893876544',
  'User-Longitude': '-82.61383625145704',
  'Client-Device-Id': '2c5131ed-7057-4162-9dca-bb4feaf614e3',
  'Referring-Link': '',
  'Client-Request-Id': '6980ff24-87e8-44b4-838e-784ee78f11e0',
  'Authorization': 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiI1YThlYWU4Yy1lYjc5LTQxMGQtYWVkMi1jZjdjNDFiNWRkMDIiLCJzdWIiOiI4YjM2NjBlOS1jYWJmLTRhMTQtYWI0Mi02MTNhOGRhM2YyMTciLCJzY3AiOiJ1c2VyIiwiYXVkIjpudWxsLCJpYXQiOjE2NzM2Njc1NjksImV4cCI6MTY3NjI5NzMxNX0.2izNBZLkUa6_hgzQlxMd2xRR1ofuviRtJQclU-6G4Mk',
  'Origin': 'https://underdogfantasy.com',
  'Connection': 'keep-alive',
  'Referer': 'https://underdogfantasy.com/',
  'Sec-Fetch-Dest': 'empty',
  'Sec-Fetch-Mode': 'cors',
  'Sec-Fetch-Site': 'same-site',
  'If-None-Match': 'W/"ed578f97b69887054ceb04ac79bd2a05"',
  'TE': 'trailers'
}

response = requests.request("GET", url, headers=headers, data=payload)

json_file = open('./betting.json', 'w')
json_file.write(response.text)
json_file.close()

In [106]:
r = open('./betting.json')
data = json.load(r)
over_under = data['over_under_lines']

bet = []
bet_type = []
bet_amt = []

i = 0

while i < len(over_under):
    bet.append(over_under[i]['over_under']['title'])
    bet_type.append(over_under[i]['over_under']['appearance_stat']['display_stat'])
    bet_amt.append(over_under[i]['stat_value'])
    i = i + 1

In [109]:
today = date.today()
yesterday = datetime.now() - timedelta(2)

yesterday = datetime.strftime(yesterday, '%Y-%m-%d')

bet_dict = {
    "BET_TITLE": bet,
    "BET_TYPE": bet_type,
    "BET_LINE": bet_amt
}

bets_df = pd.DataFrame(bet_dict)
bets_df["DATE"] = yesterday

bets_df.head()

,BET_TITLE,BET_TYPE,BET_LINE,DATE
0,Damian Lillard Rebounds O/U,Rebounds,5.0,2023-03-10
1,Damian Lillard Pts + Rebs + Asts O/U,Pts + Rebs + Asts,44.5,2023-03-10
2,Damian Lillard 3-Pointers Made O/U,3-Pointers Made,4.0,2023-03-10
3,Damian Lillard Assists O/U,Assists,7.0,2023-03-10
4,Damian Lillard Points + Rebounds O/U,Points + Rebounds,37.5,2023-03-10

In [110]:
unique_col = qy(""" 
select distinct("BET_TYPE")
from bets_df
""")

nba_bets = unique_col.values.tolist()
nba_bets

[['Rebounds'],
 ['Pts + Rebs + Asts'],
 ['3-Pointers Made'],
 ['Assists'],
 ['Points + Rebounds'],
 ['Points + Assists'],
 ['Rebounds + Assists'],
 ['Fantasy Points'],
 ['Points'],
 ['FT Made'],
 ['Steals'],
 ['Blocks + Steals'],
 ['Blocks'],
 ['Double Doubles'],
 ['Turnovers'],
 ['Triple Doubles']]

In [111]:
res = [''.join(ele) for ele in nba_bets]

res = [" " + string + " O/U" for string in res]

res.append(' Rebounds + ')
res.append(' +')
res.append(' Fantasy')
res.append(' Points +')
res.append(' Points')
res.append(' Rebounds')
res.append(' Assists')
res.append(' 3-Pointers Made O/U')
res.append(' O/U')
res.append(' Steals')
res.append(' Blocks + Steals')
res.append(' Blocks')
res.append(' FT Made')
res.append(' + Rebs + Asts')
res.append(' Double Doubles')
res.append(' Triple Doubles')

res

[' Rebounds O/U',
 ' Pts + Rebs + Asts O/U',
 ' 3-Pointers Made O/U',
 ' Assists O/U',
 ' Points + Rebounds O/U',
 ' Points + Assists O/U',
 ' Rebounds + Assists O/U',
 ' Fantasy Points O/U',
 ' Points O/U',
 ' FT Made O/U',
 ' Steals O/U',
 ' Blocks + Steals O/U',
 ' Blocks O/U',
 ' Double Doubles O/U',
 ' Turnovers O/U',
 ' Triple Doubles O/U',
 ' Rebounds + ',
 ' +',
 ' Fantasy',
 ' Points +',
 ' Points',
 ' Rebounds',
 ' Assists',
 ' 3-Pointers Made O/U',
 ' O/U',
 ' Steals',
 ' Blocks + Steals',
 ' Blocks',
 ' FT Made',
 ' + Rebs + Asts',
 ' Double Doubles',
 ' Triple Doubles']

In [112]:
name = bets_df["BET_TITLE"].values.tolist()

cleaned_strings = []
for string in name:
    for item in res:
        string = string.replace(item,"")
    cleaned_strings.append(string)

print(cleaned_strings)

['Damian Lillard', 'Damian Lillard', 'Damian Lillard', 'Damian Lillard', 'Damian Lillard', 'Damian Lillard', 'Damian Lillard', 'Damian Lillard', 'Damian Lillard', 'Damian Lillard', 'Jerami Grant', 'Jerami Grant', 'Jerami Grant', 'Jerami Grant', 'Jerami Grant', 'Jerami Grant', 'Jerami Grant', 'Jusuf Nurkic', 'Jusuf Nurkic', 'Joel Embiid', 'Joel Embiid', 'Joel Embiid', 'Joel Embiid', 'Joel Embiid', 'Joel Embiid', 'Joel Embiid', 'Joel Embiid', 'Joel Embiid', 'Joel Embiid', 'James Harden', 'James Harden', 'James Harden', 'James Harden', 'James Harden', 'James Harden', 'James Harden', 'James Harden', 'James Harden', 'James Harden', 'James Harden', 'Tobias Harris', 'Tobias Harris', 'Tobias Harris', 'Tobias Harris', 'Tobias Harris', 'Tyrese Maxey', 'Tyrese Maxey', 'Tyrese Maxey', 'Tyrese Maxey', 'P.J. Tucker', 'P.J. Tucker', 'P.J. Tucker', 'P.J. Tucker', 'P.J. Tucker', 'Trae Young', 'Trae Young', 'Trae Young', 'Trae Young', 'Trae Young', 'Trae Young', 'Trae Young', 'Trae Young', 'Trae Young', 'Trae Young', 'Dejounte Murray', 'Dejounte Murray', 'Dejounte Murray', 'Dejounte Murray', 'Dejounte Murray', 'Dejounte Murray', 'Dejounte Murray', 'Dejounte Murray', "De'Andre Hunter", "De'Andre Hunter", "De'Andre Hunter", "De'Andre Hunter", "De'Andre Hunter", 'John Collins', 'John Collins', 'John Collins', 'John Collins', 'Clint Capela', 'Clint Capela', 'Clint Capela', 'Clint Capela', 'Clint Capela', 'Clint Capela', 'Bogdan Bogdanovic', 'Bogdan Bogdanovic', 'Bogdan Bogdanovic', 'Onyeka Okongwu', 'Onyeka Okongwu', 'Onyeka Okongwu', 'Saddiq Bey', 'Saddiq Bey', 'Saddiq Bey', 'Saddiq Bey', 'Saddiq Bey', 'Bradley Beal', 'Bradley Beal', 'Bradley Beal', 'Bradley Beal', 'Bradley Beal', 'Bradley Beal', 'Bradley Beal', 'Bradley Beal', 'Bradley Beal', 'Bradley Beal', 'Kristaps Porzingis', 'Kristaps Porzingis', 'Kristaps Porzingis', 'Kristaps Porzingis', 'Kristaps Porzingis', 'Kristaps Porzingis', 'Kristaps Porzingis', 'Kristaps Porzingis', 'Kyle Kuzma', 'Kyle Kuzma', 'Kyle Kuzma', 'Kyle Kuzma', 'Kyle Kuzma', 'Kyle Kuzma', 'Kyle Kuzma', 'Kyle Kuzma', 'Kyle Kuzma', 'Kyle Kuzma', 'Daniel Gafford', 'Daniel Gafford', 'Daniel Gafford', 'Daniel Gafford', 'Corey Kispert', 'Corey Kispert', 'Corey Kispert', 'Deni Avdija', 'Deni Avdija', 'Deni Avdija', 'Deni Avdija', 'Donovan Mitchell', 'Donovan Mitchell', 'Donovan Mitchell', 'Donovan Mitchell', 'Donovan Mitchell', 'Donovan Mitchell', 'Donovan Mitchell', 'Donovan Mitchell', 'Donovan Mitchell', 'Evan Mobley', 'Evan Mobley', 'Evan Mobley', 'Evan Mobley', 'Evan Mobley', 'Jarrett Allen', 'Jarrett Allen', 'Jarrett Allen', 'Jarrett Allen', 'Isaac Okoro', 'Isaac Okoro', 'Jimmy Butler', 'Jimmy Butler', 'Jimmy Butler', 'Jimmy Butler', 'Jimmy Butler', 'Jimmy Butler', 'Jimmy Butler', 'Jimmy Butler', 'Jimmy Butler', 'Jimmy Butler', 'Bam Adebayo', 'Bam Adebayo', 'Bam Adebayo', 'Bam Adebayo', 'Bam Adebayo', 'Bam Adebayo', 'Bam Adebayo', 'Bam Adebayo', 'Tyler Herro', 'Tyler Herro', 'Tyler Herro', 'Tyler Herro', 'Tyler Herro', 'Tyler Herro', 'Tyler Herro', 'Tyler Herro', 'Tyler Herro', 'Kevin Love', 'Kevin Love', 'Kevin Love', 'Kevin Love', 'Caleb Martin', 'Caleb Martin', 'Caleb Martin', 'Victor Oladipo', 'Mikal Bridges', 'Mikal Bridges', 'Mikal Bridges', 'Mikal Bridges', 'Mikal Bridges', 'Mikal Bridges', 'Mikal Bridges', 'Spencer Dinwiddie', 'Spencer Dinwiddie', 'Spencer Dinwiddie', 'Spencer Dinwiddie', 'Spencer Dinwiddie', 'Spencer Dinwiddie', 'Spencer Dinwiddie', 'Nic Claxton', 'Nic Claxton', 'Nic Claxton', 'Nic Claxton', 'Nic Claxton', 'Cam Johnson', 'Cam Johnson', 'Cam Johnson', 'Cam Johnson', 'Dorian Finney-Smith', 'Dorian Finney-Smith', 'Dorian Finney-Smith', 'Dorian Finney-Smith', "Royce O'Neale", "Royce O'Neale", 'Anthony Edwards', 'Anthony Edwards', 'Anthony Edwards', 'Anthony Edwards', 'Anthony Edwards', 'Anthony Edwards', 'Anthony Edwards', 'Anthony Edwards', 'Anthony Edwards', 'Anthony Edwards', 'Rudy Gobert', 'Rudy Gobert', 'Rudy Gobert', 'Rudy Gobert', 'Mike Conley', 'Mike Conley', 'Mike Conley', 'Mike Conley', 'Mike Conley', 'Mike Conley', 'Kyle Anderson', 'Kyle Anderson', 'Kyle Anderson', 'Kyle Anderson', 'Kyle Anderson', 'Kyle Anderson', 'Jaden McDaniels', 'Jaden McDaniels', 'Jaden McDaniels', 'Jaden McDaniels', 'Jaden McDaniels', 'Naz Reid', 'Naz Reid', 'Naz Reid', 'Taurean Prince', 'Taurean Prince', 'Taurean Prince', 'Taurean Prince', 'Nickeil Alexander-Walker', 'Nickeil Alexander-Walker', 'Nikola Jokic', 'Nikola Jokic', 'Nikola Jokic', 'Nikola Jokic', 'Nikola Jokic', 'Nikola Jokic', 'Nikola Jokic', 'Nikola Jokic', 'Nikola Jokic', 'Nikola Jokic', 'Nikola Jokic', 'Jamal Murray', 'Jamal Murray', 'Jamal Murray', 'Jamal Murray', 'Jamal Murray', 'Jamal Murray', 'Jamal Murray', 'Jamal Murray', 'Michael Porter', 'Michael Porter', 'Michael Porter', 'Michael Porter', 'Michael Porter', 'Aaron Gordon', 'Aaron Gordon', 'Aaron Gordon', 'Aaron Gordon', 'Aaron Gordon', 'Aaron Gordon', 'Aaron Gordon', 'Kentavious Caldwell-Pope', 'Kentavious Caldwell-Pope', 'Kentavious Caldwell-Pope', 'Bruce Brown', 'Bruce Brown', 'Bruce Brown', 'Keldon Johnson', 'Keldon Johnson', 'Keldon Johnson', 'Keldon Johnson', 'Keldon Johnson', 'Keldon Johnson', 'Keldon Johnson', 'Keldon Johnson', 'Jeremy Sochan', 'Jeremy Sochan', 'Jeremy Sochan', 'Jeremy Sochan', 'Jeremy Sochan', 'Jeremy Sochan', 'Jeremy Sochan', 'Zach Collins', 'Zach Collins', 'Zach Collins', 'Zach Collins', 'Tre Jones', 'Tre Jones', 'Tre Jones', 'Tre Jones', 'Devin Vassell', 'Devin Vassell', 'Pascal Siakam', 'Pascal Siakam', 'Pascal Siakam', 'Pascal Siakam', 'Pascal Siakam', 'Pascal Siakam', 'Pascal Siakam', 'Pascal Siakam', 'Pascal Siakam', 'Fred VanVleet', 'Fred VanVleet', 'Fred VanVleet', 'Fred VanVleet', 'Fred VanVleet', 'Fred VanVleet', 'Fred VanVleet', 'Fred VanVleet', 'Fred VanVleet', 'Scottie Barnes', 'Scottie Barnes', 'Scottie Barnes', 'Scottie Barnes', 'Scottie Barnes', 'Scottie Barnes', 'Scottie Barnes', 'Scottie Barnes', 'Scottie Barnes', 'Scottie Barnes', 'Scottie Barnes', 'OG Anunoby', 'OG Anunoby', 'OG Anunoby', 'OG Anunoby', 'OG Anunoby', 'Jakob Poeltl', 'Jakob Poeltl', 'Jakob Poeltl', 'Jakob Poeltl', 'Gary Trent Jr.', 'Gary Trent Jr.', 'Chris Boucher', 'Chris Boucher', 'Chris Boucher', 'Chris Boucher', 'Anthony Davis', 'Anthony Davis', 'Anthony Davis', 'Anthony Davis', 'Anthony Davis', 'Anthony Davis', 'Anthony Davis', 'Anthony Davis', 'Jarred Vanderbilt', 'Jarred Vanderbilt', 'Jarred Vanderbilt', 'Jarred Vanderbilt', 'Malik Beasley', 'Malik Beasley', 'Malik Beasley', 'Malik Beasley', 'Malik Beasley', "D'Angelo Russell", "D'Angelo Russell", "D'Angelo Russell", "D'Angelo Russell", "D'Angelo Russell", 'Rui Hachimura', 'Rui Hachimura', 'Rui Hachimura', 'Rui Hachimura', 'Austin Reaves', 'Austin Reaves', 'Austin Reaves']

In [113]:
bets_df["PLAYER"] = cleaned_strings
bets_df["BET_LINE"] = pd.to_numeric(bets_df["BET_LINE"])

bets_df.head()

,BET_TITLE,BET_TYPE,BET_LINE,DATE,PLAYER
0,Damian Lillard Rebounds O/U,Rebounds,5.0,2023-03-10,Damian Lillard
1,Damian Lillard Pts + Rebs + Asts O/U,Pts + Rebs + Asts,44.5,2023-03-10,Damian Lillard
2,Damian Lillard 3-Pointers Made O/U,3-Pointers Made,4.0,2023-03-10,Damian Lillard
3,Damian Lillard Assists O/U,Assists,7.0,2023-03-10,Damian Lillard
4,Damian Lillard Points + Rebounds O/U,Points + Rebounds,37.5,2023-03-10,Damian Lillard

In [114]:
bets_df.tail()

,BET_TITLE,BET_TYPE,BET_LINE,DATE,PLAYER
391,Rui Hachimura 3-Pointers Made O/U,3-Pointers Made,0.5,2023-03-10,Rui Hachimura
392,Rui Hachimura Rebounds O/U,Rebounds,4.0,2023-03-10,Rui Hachimura
393,Austin Reaves Points O/U,Points,10.5,2023-03-10,Austin Reaves
394,Austin Reaves Pts + Rebs + Asts O/U,Pts + Rebs + Asts,16.5,2023-03-10,Austin Reaves
395,Austin Reaves Turnovers O/U,Turnovers,1.5,2023-03-10,Austin Reaves

In [115]:
connect_aws(bets_df, "NBA_BETS", "append")

## Gamelog Data

In [ ]:
#Update player info monthly

def BRING_SEASONAL_PLAYER_STATS(URL_LINK):

    driver = webdriver.Chrome(ChromeDriverManager().install())
    
    # Open the URL on a google chrome window
    driver.get(URL_LINK)
    
    # As this is a dynamic html web-page, wait for 3 seconds for everything to be loaded
    time.sleep(3)
    
    # Accept the cookies policy
    #driver.find_element_by_xpath('//*[@id="onetrust-accept-btn-handler"]').click()

    # As this is a dynamic html web-page, wait for 3 seconds for everything to be loaded
    time.sleep(3)

    # click on the pagination elements to select not only the page 1 but all pages
    driver.find_element_by_xpath(
        
        '/html/body/div[1]/div[2]/div[2]/div[3]/section[2]/div/div[2]/div[2]/div[1]/div[3]/div/label/div/select/option[1]'
    
                                ).click()

    time.sleep(3)
    
    LIST_OF_PLAYERS = []
    TEAM = []
    AGE = []
    DRAFT_YEAR = []   
    
    for i in range(1, 506):
        LIST_OF_PLAYERS.append(driver.find_element_by_xpath(
        '/html/body/div[1]/div[2]/div[2]/div[3]/section[2]/div/div[2]/div[3]/table/tbody/tr[{}]/td[1]/a'.format(i)
                                ).text)
    
    for i in range(1, 506):
        TEAM.append(driver.find_element_by_xpath(
        '/html/body/div[1]/div[2]/div[2]/div[3]/section[2]/div/div[2]/div[3]/table/tbody/tr[{}]/td[2]/a'.format(i)
                                ).text)   
                                                        

    for i in range(1, 506):
        AGE.append(driver.find_element_by_xpath(
        '/html/body/div[1]/div[2]/div[2]/div[3]/section[2]/div/div[2]/div[3]/table/tbody/tr[{}]/td[3]/a'.format(i)
                                ).text)   

    for i in range(1, 506):
        DRAFT_YEAR.append(driver.find_element_by_xpath(
        '/html/body/div[1]/div[2]/div[2]/div[3]/section[2]/div/div[2]/div[3]/table/tbody/tr[{}]/td[8]/a'.format(i)
                                ).text)   
    # close the google chrome window
    driver.quit()
    
    TABLE_HEADERS = [
                     'PLAYER',
                     'TEAM',
                     'AGE',
                     'DRAFT YEAR']

    DF_PLAYERS = pd.DataFrame({
        'PLAYER': LIST_OF_PLAYERS,
        'TEAM': TEAM,
        'AGE': AGE,
        'DRAFT YEAR': DRAFT_YEAR
    })

    return DF_PLAYERS

PAGE_URL = 'https://www.nba.com/stats/players/bio?'

PLAYERS = BRING_SEASONAL_PLAYER_STATS(PAGE_URL)

In [5]:
PLAYERS.head()

          PLAYER TEAM AGE DRAFT YEAR
0    A.J. Lawson  DAL  22  Undrafted
1       AJ Green  MIL  23  Undrafted
2     AJ Griffin  ATL  19       2022
3   Aaron Gordon  DEN  27       2014
4  Aaron Holiday  ATL  26       2018

In [ ]:
import time
from bs4 import BeautifulSoup
from urllib.request import Request, urlopen
import re

for INDEX, ROW in PLAYERS.iterrows():   
    # In order not to get the HTTP 429 Too Many Requests error, we're sleeping the script for some time.
    time.sleep(5) 
    try:  
        site= 'https://www.google.com/search?q={}+nba+espn+gamelog'.format(PLAYERS.loc[INDEX, 
                                                                                      'PLAYER'].replace(' ', '+'))
        req = Request(site,headers={
                                    'User-Agent': 'Mozilla/5.0', 
                                    }
                     )
        page = urlopen(req)
        soup = BeautifulSoup(page)
        links_with_text = []
        for a in soup.find_all('a', href=True): 
            if a.text and a['href'].startswith('/url?'): 
                links_with_text.append(a['href'])
        links_with_id_text = [x for x in links_with_text if 'id/' in x]
        ESPN_STRING_STARTING_WITH_PLAYER_ID = links_with_id_text[0]
        PLAYER_ID_IN_ESPN = re.findall(r'\d+', ESPN_STRING_STARTING_WITH_PLAYER_ID)[0]        
        PLAYERS.loc[INDEX, 'ESPN_GAMELOG_ID'] = PLAYER_ID_IN_ESPN
        print('Success', INDEX, PLAYER_ID_IN_ESPN, PLAYERS.loc[INDEX, 'PLAYER'])       
    except Exception as e:       
        print('Error', INDEX, PLAYER_ID_IN_ESPN, PLAYERS.loc[INDEX, 'PLAYER'])

In [9]:
connect_aws(PLAYERS, table_name='NBA_PLAYERS', option='replace')

Table injected

In [117]:
PLAYERS = exec_aws('''SELECT * FROM public."NBA_PLAYERS"''')

PLAYERS.tail()

/Users/jorge/opt/anaconda3/envs/trading/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

              PLAYER TEAM  AGE DRAFT YEAR  ESPN_GAMELOG_ID
500     Zach Collins  SAS   25       2017          4066650
501      Zach LaVine  CHI   27       2014          3064440
502       Zeke Nnaji  DEN   22       2020          4431690
503  Ziaire Williams  MEM   21       2021          4433137
504  Zion Williamson  NOP   22       2019          4395628

In [118]:
PLAYERS.head()

          PLAYER TEAM  AGE DRAFT YEAR  ESPN_GAMELOG_ID
0    A.J. Lawson  DAL   22  Undrafted          4067017
1       AJ Green  MIL   23  Undrafted          4397475
2     AJ Griffin  ATL   19       2022          4432585
3   Aaron Gordon  DEN   27       2014          3064290
4  Aaron Holiday  ATL   26       2018          3922230

In [119]:
LIST_TO_CONCAT = []

for i in range(0, len(PLAYERS)):
    LIST_TO_CONCAT.append(
        get_yearly_player_gamelog(
            'https://www.espn.com/nba/player/gamelog/_/id/{}/'.format(PLAYERS.iloc[i,4]), 
            '2023', 
            PLAYERS.iloc[i,0])                  
                                )

In [120]:
GAMELOG = pd.concat(LIST_TO_CONCAT, sort=False, ignore_index=True)        

GAMELOG.tail()

,Player,Season,Type,Date,OPP,Result,MIN,FG,FG%,3PT,...,FT%,REB,AST,BLK,STL,PF,TO,PTS,3PT_SA,3PT_A
23022,Zion Williamson,2022-23,Regular,Wed 10/19,@BKN,W130-108,30.0,11-22,50.0,0-0,...,75.0,9.0,3.0,0.0,4.0,3.0,2.0,25.0,0.0,0.0
23023,Zion Williamson,2022-23,Preseason,Wed 10/12,@MIA,L120-103,11.0,3-7,42.9,0-0,...,83.3,2.0,4.0,0.0,0.0,2.0,0.0,11.0,0.0,0.0
23024,Zion Williamson,2022-23,Preseason,Sun 10/9,@SA,W111-97,24.0,3-7,42.9,1-1,...,50.0,9.0,5.0,1.0,1.0,3.0,4.0,8.0,1.0,1.0
23025,Zion Williamson,2022-23,Preseason,Fri 10/7,vsDET,W107-101,20.0,5-10,50.0,0-0,...,25.0,1.0,1.0,0.0,0.0,2.0,2.0,13.0,0.0,0.0
23026,Zion Williamson,2022-23,Preseason,Tue 10/4,@CHI,W129-125,15.0,4-6,66.7,0-0,...,100.0,4.0,1.0,0.0,1.0,0.0,1.0,13.0,0.0,0.0

In [121]:
GAMELOG["Date"] = pd.to_datetime(GAMELOG["Date"],format='%a %m/%d')
GAMELOG["Date"] = GAMELOG["Date"].apply(lambda x: x.replace(year = x.year + 122))

GAMELOG.tail()

,Player,Season,Type,Date,OPP,Result,MIN,FG,FG%,3PT,...,FT%,REB,AST,BLK,STL,PF,TO,PTS,3PT_SA,3PT_A
23022,Zion Williamson,2022-23,Regular,2022-10-19,@BKN,W130-108,30.0,11-22,50.0,0-0,...,75.0,9.0,3.0,0.0,4.0,3.0,2.0,25.0,0.0,0.0
23023,Zion Williamson,2022-23,Preseason,2022-10-12,@MIA,L120-103,11.0,3-7,42.9,0-0,...,83.3,2.0,4.0,0.0,0.0,2.0,0.0,11.0,0.0,0.0
23024,Zion Williamson,2022-23,Preseason,2022-10-09,@SA,W111-97,24.0,3-7,42.9,1-1,...,50.0,9.0,5.0,1.0,1.0,3.0,4.0,8.0,1.0,1.0
23025,Zion Williamson,2022-23,Preseason,2022-10-07,vsDET,W107-101,20.0,5-10,50.0,0-0,...,25.0,1.0,1.0,0.0,0.0,2.0,2.0,13.0,0.0,0.0
23026,Zion Williamson,2022-23,Preseason,2022-10-04,@CHI,W129-125,15.0,4-6,66.7,0-0,...,100.0,4.0,1.0,0.0,1.0,0.0,1.0,13.0,0.0,0.0

In [122]:
new_date_format = []

for i in GAMELOG["Date"]:
    if i.month in (1, 2, 3, 4):
        i = str(i.month) + "-" + str(i.day) + "-" + str(i.year+1)
        new_date_format.append(i)
    else:
        i = str(i.month) + "-" + str(i.day) + "-" + str(i.year)
        new_date_format.append(i)

In [123]:
GAMELOG["Date"] = new_date_format
GAMELOG["Date"] = pd.to_datetime(GAMELOG["Date"],format='%m-%d-%Y')

GAMELOG.head()

,Player,Season,Type,Date,OPP,Result,MIN,FG,FG%,3PT,...,FT%,REB,AST,BLK,STL,PF,TO,PTS,3PT_SA,3PT_A
0,A.J. Lawson,2022-23,Regular,2023-02-15,@DEN,L118-109,12.0,4-6,66.7,2-3,...,0.0,2.0,0.0,0.0,1.0,1.0,0.0,10.0,2.0,3.0
1,A.J. Lawson,2022-23,Regular,2023-02-06,@UTAH,W124-111,12.0,1-4,25.0,1-3,...,0.0,0.0,0.0,0.0,0.0,3.0,1.0,3.0,1.0,3.0
2,A.J. Lawson,2022-23,Regular,2023-02-04,@GS,L119-113,11.0,2-4,50.0,1-3,...,0.0,4.0,0.0,0.0,0.0,1.0,0.0,5.0,1.0,3.0
3,A.J. Lawson,2022-23,Regular,2023-01-28,@UTAH,L108-100,1.0,0-0,0.0,0-0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,A.J. Lawson,2022-23,Regular,2023-01-20,vsMIA,W115-90,4.0,2-2,100.0,1-1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5.0,1.0,1.0

In [124]:
connect_aws(GAMELOG, 'NBA_GAMELOG', 'replace')

# Team Schedule - RUN ONCE

In [7]:
team_list = ["ATL","BKN","BOS","CHA","CHI","CLE","DAL","DEN","DET","GSW","HOU","IND","LAC","LAL","MEM","MIA","MIL",
"MIN","NOP","NYK","OKC","ORL","PHI","PHX","POR","SAC","SAS","TOR","UTA","WAS"]

espn_list = ["atl", "bkn", "bos", "cha", "chi", "cle", "dal", "den", "det", "gs" , "hou", "ind", "lac", "lal", "mem",
 "mia", "mil", "min", "no" , "ny" , "okc", "orl", "phi", "phx", "por", "sac", "sa" , "tor", "utah", "wsh"]

LIST_TO_CONCAT = []

for i in range(0, len(team_list)):
    LIST_TO_CONCAT.append(
        get_schedule(f"https://www.espn.com/nba/team/schedule/_/name/{espn_list[i]}", team_list[i])
    )
         
NBA_SCHEDULE = pd.concat(LIST_TO_CONCAT, sort=False, ignore_index=True)        

NBA_SCHEDULE.tail()

,0,1,2,3,4,5,6,TEAM
2517,"Sun, Apr 2",@ New York,6:00 PM,NaN,Tickets as low as $97,Tickets as low as $97,NaN,WAS
2518,"Tue, Apr 4",vs Milwaukee,7:00 PM,NaN,Tickets as low as $22,Tickets as low as $22,NaN,WAS
2519,"Wed, Apr 5",@ Atlanta,7:30 PM,NaN,Tickets as low as $26,Tickets as low as $26,NaN,WAS
2520,"Fri, Apr 7",vs Miami,7:00 PM,NaN,Tickets as low as $23,Tickets as low as $23,NaN,WAS
2521,"Sun, Apr 9",vs Houston,1:00 PM,NaN,Tickets as low as $11,Tickets as low as $11,NaN,WAS

In [8]:
NBA_SCHEDULE.to_excel("schedule.xlsx", index=False)

In [95]:
NBA_SCHEDULE = pd.read_csv("schedule_azure.csv")

NBA_SCHEDULE.head()

                          DATE           OPP TEAM
0  2022-10-19T00:00:00.0000000    vs Houston  ATL
1  2022-10-21T00:00:00.0000000    vs Orlando  ATL
2  2022-10-23T00:00:00.0000000  vs Charlotte  ATL
3  2022-10-26T00:00:00.0000000     @ Detroit  ATL
4  2022-10-28T00:00:00.0000000     @ Detroit  ATL

In [96]:
NBA_SCHEDULE['DATE'] = NBA_SCHEDULE['DATE'].str.slice(stop=10)

NBA_SCHEDULE.head()

         DATE           OPP TEAM
0  2022-10-19    vs Houston  ATL
1  2022-10-21    vs Orlando  ATL
2  2022-10-23  vs Charlotte  ATL
3  2022-10-26     @ Detroit  ATL
4  2022-10-28     @ Detroit  ATL

In [97]:
NBA_SCHEDULE["DATE"] = pd.to_datetime(NBA_SCHEDULE["DATE"],format='%Y-%m-%d')
#NBA_SCHEDULE["DATE"] = NBA_SCHEDULE["DATE"].dt.strftime('%m-%d-%Y')
NBA_SCHEDULE.head()

        DATE           OPP TEAM
0 2022-10-19    vs Houston  ATL
1 2022-10-21    vs Orlando  ATL
2 2022-10-23  vs Charlotte  ATL
3 2022-10-26     @ Detroit  ATL
4 2022-10-28     @ Detroit  ATL

In [98]:
connect_aws(NBA_SCHEDULE, 'NBA_SCHEDULE', 'replace')

## Get Team Stats

In [99]:
def get_defense(url):
    try:
        HTML_TEAMS = pd.read_html(url)
        LEN_HTML_TEAMS = len(HTML_TEAMS)
        EMPTY_TEAMS = []

        for ORDER in range(LEN_HTML_TEAMS):
            if len(HTML_TEAMS[ORDER].columns.tolist())==2:
                if LEN_HTML_TEAMS== ORDER:
                    TEAMS_TABLE = HTML_TEAMS[ORDER]
                else:
                    TEAMS_TABLE = HTML_TEAMS[ORDER]
                EMPTY_TEAMS.append(TEAMS_TABLE)
            else: 
                pass

        TEAMS_DF = pd.concat(EMPTY_TEAMS, sort=False, ignore_index=True)   

    except Exception as e:       
        pass
    
    TEAMS = TEAMS_DF["Team"].values.tolist()
    TEAMS = [''.join(ele) for ele in TEAMS]

    try:

        HTML_STATS = pd.read_html(url)
        LEN_HTML_STATS = len(HTML_STATS)
        EMPTY_STATS = []

        for ORDER in range(LEN_HTML_STATS):
            if len(HTML_STATS[ORDER].columns.tolist())==19:
                if LEN_HTML_STATS== ORDER:
                    STATS_TABLE = HTML_STATS[ORDER]
                else:
                    STATS_TABLE = HTML_STATS[ORDER]
                EMPTY_STATS.append(STATS_TABLE)
            else: 
                pass

        STATS_DF = pd.concat(EMPTY_STATS, sort=False, ignore_index=True)   

    except Exception as e:       
        pass

    STATS_DF["TEAM"] = TEAMS
    return STATS_DF

In [100]:
TEAM_DEFENSE = get_defense('https://www.espn.com/nba/stats/team/_/view/opponent')

TEAM_DEFENSE.head()

,GP,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OR,DR,REB,AST,STL,BLK,TO,PF,TEAM
0,68,106.5,38.9,83.6,46.5,11.4,30.9,36.9,17.3,22.2,77.7,9.5,31.1,40.6,22.9,7.2,4.3,14.5,20.7,Cleveland Cavaliers
1,67,109.1,39.7,82.9,47.9,13.0,35.5,36.6,16.7,21.4,78.0,8.6,33.3,42.0,25.0,7.0,3.7,15.3,20.2,Miami Heat
2,65,110.9,40.3,85.2,47.3,11.6,33.0,35.1,18.8,24.0,78.4,9.6,31.9,41.4,23.7,6.7,4.7,13.9,20.0,Philadelphia 76ers
3,66,110.9,39.8,85.8,46.4,11.5,32.1,35.7,19.9,25.2,79.2,10.3,32.4,42.7,23.3,7.3,4.0,13.8,20.1,Phoenix Suns
4,65,111.7,41.8,92.4,45.2,11.4,33.4,34.3,16.7,21.5,77.7,10.7,33.4,44.1,22.8,7.0,4.0,11.6,19.1,Milwaukee Bucks

In [101]:
connect_aws(TEAM_DEFENSE, 'NBA_DEFENSE_STATS', 'replace')

## Get Team stats - Offense

In [102]:
def get_offense(url):
    try:
        HTML_TEAMS = pd.read_html(url)
        LEN_HTML_TEAMS = len(HTML_TEAMS)
        EMPTY_TEAMS = []

        for ORDER in range(LEN_HTML_TEAMS):
            if len(HTML_TEAMS[ORDER].columns.tolist())==2:
                if LEN_HTML_TEAMS== ORDER:
                    TEAMS_TABLE = HTML_TEAMS[ORDER]
                else:
                    TEAMS_TABLE = HTML_TEAMS[ORDER]
                EMPTY_TEAMS.append(TEAMS_TABLE)
            else: 
                pass

        TEAMS_DF = pd.concat(EMPTY_TEAMS, sort=False, ignore_index=True)   

    except Exception as e:       
        pass
    
    TEAMS = TEAMS_DF["Team"].values.tolist()
    TEAMS = [''.join(ele) for ele in TEAMS]

    try:

        HTML_STATS = pd.read_html(url)
        LEN_HTML_STATS = len(HTML_STATS)
        EMPTY_STATS = []

        for ORDER in range(LEN_HTML_STATS):
            if len(HTML_STATS[ORDER].columns.tolist())==19:
                if LEN_HTML_STATS== ORDER:
                    STATS_TABLE = HTML_STATS[ORDER]
                else:
                    STATS_TABLE = HTML_STATS[ORDER]
                EMPTY_STATS.append(STATS_TABLE)
            else: 
                pass

        STATS_DF = pd.concat(EMPTY_STATS, sort=False, ignore_index=True)   

    except Exception as e:       
        pass

    STATS_DF["TEAM"] = TEAMS
    return STATS_DF

In [103]:
TEAM_OFFENSE = get_offense('https://www.espn.com/nba/stats/team')

TEAM_OFFENSE.head()

,GP,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OR,DR,REB,AST,STL,BLK,TO,PF,TEAM
0,64,121.1,43.8,87.6,50.0,13.4,36.3,37.0,20.1,25.2,79.9,9.2,32.9,42.0,27.2,7.0,3.3,13.7,19.8,Sacramento Kings
1,66,118.2,43.6,92.8,47.0,12.4,34.2,36.2,18.6,23.2,80.2,11.5,32.1,43.6,24.9,8.4,4.6,12.8,21.3,Oklahoma City Thunder
2,66,118.1,42.8,90.0,47.6,16.5,43.2,38.3,15.9,20.0,79.4,10.0,34.0,44.0,29.7,7.0,3.8,15.7,21.9,Golden State Warriors
3,67,117.6,41.9,88.5,47.3,15.9,42.2,37.7,18.0,21.9,81.9,9.7,35.6,45.3,26.3,6.3,5.3,13.0,19.2,Boston Celtics
4,66,117.2,44.3,91.8,48.2,10.7,30.3,35.4,17.9,21.9,81.7,10.6,32.9,43.5,24.7,7.1,4.8,12.3,19.1,Atlanta Hawks

In [104]:
connect_aws(TEAM_OFFENSE, 'NBA_OFFENSE_STATS', 'replace')