In [88]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import time
import pandas as pd

from bs4 import BeautifulSoup
from urllib.request import Request, urlopen
import re

In [93]:
def BRING_SEASONAL_PLAYER_STATS(URL_LINK):

    driver = webdriver.Chrome(ChromeDriverManager().install())
    
    # Open the URL on a google chrome window
    driver.get(URL_LINK)
    
    # As this is a dynamic html web-page, wait for 3 seconds for everything to be loaded
    time.sleep(3)
    
    # Accept the cookies policy
    #driver.find_element_by_xpath('//*[@id="onetrust-accept-btn-handler"]').click()

    # As this is a dynamic html web-page, wait for 3 seconds for everything to be loaded
    time.sleep(3)

    # click on the pagination elements to select not only the page 1 but all pages
    driver.find_element_by_xpath(
        
        '/html/body/div[1]/div[2]/div[2]/div[3]/section[2]/div/div[2]/div[2]/div[1]/div[3]/div/label/div/select/option[1]'
    
                                ).click()

    time.sleep(3)
    
    LIST_OF_PLAYERS = []
    TEAM = []
    AGE = []
    DRAFT_YEAR = []   
    
    for i in range(1, 506):
        LIST_OF_PLAYERS.append(driver.find_element_by_xpath(
        '/html/body/div[1]/div[2]/div[2]/div[3]/section[2]/div/div[2]/div[3]/table/tbody/tr[{}]/td[1]/a'.format(i)
                                ).text)
    
    for i in range(1, 506):
        TEAM.append(driver.find_element_by_xpath(
        '/html/body/div[1]/div[2]/div[2]/div[3]/section[2]/div/div[2]/div[3]/table/tbody/tr[{}]/td[2]/a'.format(i)
                                ).text)   
                                                        

    for i in range(1, 506):
        AGE.append(driver.find_element_by_xpath(
        '/html/body/div[1]/div[2]/div[2]/div[3]/section[2]/div/div[2]/div[3]/table/tbody/tr[{}]/td[3]/a'.format(i)
                                ).text)   

    for i in range(1, 506):
        DRAFT_YEAR.append(driver.find_element_by_xpath(
        '/html/body/div[1]/div[2]/div[2]/div[3]/section[2]/div/div[2]/div[3]/table/tbody/tr[{}]/td[8]/a'.format(i)
                                ).text)   
    # close the google chrome window
    driver.quit()
    
    TABLE_HEADERS = [
                     'PLAYER',
                     'TEAM',
                     'AGE',
                     'DRAFT YEAR']

    DF_PLAYERS = pd.DataFrame({
        'PLAYER': LIST_OF_PLAYERS,
        'TEAM': TEAM,
        'AGE': AGE,
        'DRAFT YEAR': DRAFT_YEAR
    })

    return DF_PLAYERS

PAGE_URL = 'https://www.nba.com/stats/players/bio?'

PLAYERS = BRING_SEASONAL_PLAYER_STATS(PAGE_URL)

In [94]:

PLAYERS.tail()

              PLAYER TEAM AGE DRAFT YEAR
500     Zach Collins  SAS  25       2017
501      Zach LaVine  CHI  27       2014
502       Zeke Nnaji  DEN  22       2020
503  Ziaire Williams  MEM  21       2021
504  Zion Williamson  NOP  22       2019

In [96]:
import time
from bs4 import BeautifulSoup
from urllib.request import Request, urlopen
import re

for INDEX, ROW in PLAYERS.iterrows():   
    # In order not to get the HTTP 429 Too Many Requests error, we're sleeping the script for some time.
    time.sleep(5) 
    try:  
        site= 'https://www.google.com/search?q={}+nfl+espn+gamelog'.format(PLAYERS.loc[INDEX, 
                                                                                      'PLAYER'].replace(' ', '+'))
        req = Request(site,headers={
                                    'User-Agent': 'Mozilla/5.0', 
                                    }
                     )
        page = urlopen(req)
        soup = BeautifulSoup(page)
        links_with_text = []
        for a in soup.find_all('a', href=True): 
            if a.text and a['href'].startswith('/url?'): 
                links_with_text.append(a['href'])
        links_with_id_text = [x for x in links_with_text if 'id/' in x]
        ESPN_STRING_STARTING_WITH_PLAYER_ID = links_with_id_text[0]
        PLAYER_ID_IN_ESPN = re.findall(r'\d+', ESPN_STRING_STARTING_WITH_PLAYER_ID)[0]        
        PLAYERS.loc[INDEX, 'ESPN_GAMELOG_ID'] = PLAYER_ID_IN_ESPN
        print('Success', INDEX, PLAYER_ID_IN_ESPN, PLAYERS.loc[INDEX, 'PLAYER'])       
    except Exception as e:       
        print('Error', INDEX, PLAYER_ID_IN_ESPN, PLAYERS.loc[INDEX, 'PLAYER'])

Success 0 4686890 A.J. Lawson
Success 1 13983 AJ Green
Success 2 4432585 AJ Griffin
Success 3 3064290 Aaron Gordon
Success 4 3922230 Aaron Holiday
Success 5 4396909 Aaron Nesmith
Success 6 4397183 Aaron Wiggins
Success 7 3918423 Admiral Schofield
Success 8 3213 Al Horford
Success 9 6429 Alec Burks
Success 10 4683018 Aleksej Pokusevski
Success 11 2991350 Alex Caruso
Success 12 2596107 Alex Len
Success 13 4067045 Alize Johnson
Success 14 4592216 Alondes Williams
Success 15 4871144 Alperen Sengun
Success 16 4066387 Amir Coffey
Success 17 6585 Andre Drummond
Success 18 2386 Andre Iguodala
Success 19 4395712 Andrew Nembhard
Success 20 3059319 Andrew Wiggins
Success 21 4351851 Anfernee Simons
Success 22 6583 Anthony Davis
Success 23 4594268 Anthony Edwards
Success 24 2581184 Anthony Gill
Success 25 4066790 Anthony Lamb
Success 26 4066457 Austin Reaves
Success 27 6617 Austin Rivers
Success 28 4397002 Ayo Dosunmu
Success 29 4066261 Bam Adebayo
Success 30 3907387 Ben Simmons
Success 31 4683634 Bennedict Mathurin
Success 32 6427 Bismack Biyombo
Success 33 3989 Blake Griffin
Success 34 4683935 Blake Wesley
Success 35 4376 Boban Marjanovic
Success 36 3064482 Bobby Portis
Success 37 3037789 Bogdan Bogdanovic
Success 38 3593 Bojan Bogdanovic
Success 39 4397102 Bol Bol
Success 40 4592492 Bones Hyland
Success 41 6580 Bradley Beal
Success 42 4432162 Brandon Boston Jr.
Success 43 3906665 Brandon Clarke
Success 44 3913176 Brandon Ingram
Success 45 4066240 Braxton Key
Success 46 3448 Brook Lopez
Success 47 4065670 Bruce Brown
Success 48 4277952 Bruno Fernando
Success 49 4576086 Bryce McGowens
Success 50 2994526 Bryn Forbes
Success 51 4395676 Buddy Boeheim
Success 52 2990984 Buddy Hield
Success 53 2490149 CJ McCollum
Success 54 4432166 Cade Cunningham
Success 55 4433623 Caleb Houstan
Success 56 3138160 Caleb Martin
Success 57 4395627 Cam Reddish
Success 58 4432174 Cam Thomas
Success 59 3138196 Cameron Johnson
Success 60 3064230 Cameron Payne
Success 61 2991043 Caris LeVert
Success 62 4067735 Carlik Jones
Success 63 3893016 Cedi Osman
Success 64 4397886 Charles Bassey
Success 65 3919347 Chima Moneke
Success 66 3914283 Chimezie Metu
Success 67 3948153 Chris Boucher
Success 68 4592402 Chris Duarte
Success 69 2779 Chris Paul
Success 70 3923253 Chris Silva
Success 71 4431767 Christian Braun
Success 72 4431778 Christian Koloko
Success 73 3058254 Christian Wood
Success 74 4278052 Chuma Okeke
Success 75 3102529 Clint Capela
Success 76 4395651 Coby White
Success 77 3138161 Cody Martin
Success 78 4432809 Cole Anthony
Success 79 4397134 Cole Swider
Success 80 4277811 Collin Sexton
Success 81 4280151 Corey Kispert
Success 82 6446 Cory Joseph
Success 83 3136776 D'Angelo Russell
Success 84 4432176 Daishen Nix
Success 85 4397885 Dalano Banton
Success 86 4433159 Dalen Terry
Success 87 3064559 Damian Jones
Success 88 6606 Damian Lillard
Success 89 2595209 Damion Lee
Success 90 4278049 Daniel Gafford
Success 91 2451037 Daniel Theis
Success 92 3988 Danny Green
Success 93 2991155 Danuel House Jr.
Success 94 3032978 Dario Saric
Success 95 4423545 Darius Bazley
Success 96 4396978 Darius Days
Success 97 4396907 Darius Garland
Success 98 4397107 David Duke Jr.
Success 99 4593041 David Roddy
Success 100 4278053 Davion Mitchell
Success 101 6426 Davis Bertans
Success 102 3059262 Davon Reed
Success 103 4432194 Day'Ron Sharpe
Success 104 4066259 De'Aaron Fox
Success 105 4065732 De'Andre Hunter
Success 106 4066436 De'Anthony Melton
Success 107 3442 DeAndre Jordan
Success 108 3978 DeMar DeRozan
Success 109 3912848 Dean Wade
Success 110 4278129 Deandre Ayton
Success 111 3907497 Dejounte Murray
Success 112 3064447 Delon Wright
Success 113 4683021 Deni Avdija
Success 114 3032979 Dennis Schroder
Success 115 4065697 Dennis Smith Jr.
Success 116 2977689 Deonte Burton
Success 117 4431811 Dereon Seabron
Success 118 3936099 Derrick Jones Jr.
Success 119 3456 Derrick Rose
Success 120 3078576 Derrick White
Success 121 4066320 Desmond Bane
Success 122 3136193 Devin Booker
Success 123 4395630 Devin Vassell
Success 124 4397016 Devon Dotson
Success 125 3133601 Devonte' Graham
Success 126 2580913 Dewayne Dedmon
Success 127 3155526 Dillon Brooks
Success 128 3155942 Domantas Sabonis
Success 129 4870562 Dominick Barlow
Success 130 3908809 Donovan Mitchell
Success 131 3934673 Donte DiVincenzo
Success 132 2578185 Dorian Finney-Smith
Success 133 2528588 Doug McDermott
Success 134 6589 Draymond Green
Success 135 3914285 Drew Eubanks
Success 136 4066993 Dru Smith
Success 137 4397235 Duane Washington Jr.
Success 138 3157465 Duncan Robinson
Success 139 2531367 Dwight Powell
Success 140 4869342 Dyson Daniels
Success 141 3136485 Edmond Sumner
Success 142 3431 Eric Gordon
Success 143 4066410 Eugene Omoruyi
Success 144 6588 Evan Fournier
Success 145 4432158 Evan Mobley
Success 146 2968334 Facundo Campazzo
Success 147 2579294 Frank Kaminsky
Success 148 4230547 Frank Ntilikina
Success 149 4566434 Franz Wagner
Success 150 2991230 Fred VanVleet
Success 151 3929325 Furkan Korkmaz
Success 152 3137259 Gabe Vincent
Success 153 4023 Garrett Temple
Success 154 3913180 Garrison Mathews
Success 155 2999547 Gary Harris
Success 156 3134903 Gary Payton II
Success 157 4277843 Gary Trent Jr.
Success 158 3438 George Hill
Success 159 2990969 Georges Niang
Success 160 3032977 Giannis Antetokounmpo
Success 161 4348700 Goga Bitadze
Success 162 3423 Goran Dragic
Success 163 4249 Gordon Hayward
Success 164 2534781 Gorgui Dieng
Success 165 4066218 Grant Williams
Success 166 3135045 Grayson Allen
Success 167 4432161 Greg Brown III
Success 168 4080610 Hamidou Diallo
Success 169 6578 Harrison Barnes
Success 170 4291678 Haywood Highsmith
Success 171 4277813 Herbert Jones
Success 172 4395724 Immanuel Quickley
Success 173 4432822 Isaac Okoro
Success 174 4222252 Isaiah Hartenstein
Success 175 4432170 Isaiah Jackson
Success 176 4395702 Isaiah Joe
Success 177 4277957 Isaiah Livers
Success 178 4044134 Isaiah Mobley
Success 179 4066392 Isaiah Roby
Success 180 4432810 Isaiah Stewart
Success 181 4715198 Isaiah Todd
Success 182 4305 Ish Smith
Success 183 3059307 Ish Wainright
Success 184 4017837 Ivica Zubac
Success 185 4576085 JD Davison
Success 186 4702233 JT Thor
Success 187 4279888 Ja Morant
Success 188 2327577 JaMychal Green
Success 189 3452 JaVale McGee
Success 190 4432639 Jabari Smith Jr.
Success 191 4432446 Jabari Walker
Success 192 4065653 Jack White
Success 193 4868423 Jaden Hardy
Success 194 4433218 Jaden Ivey
Success 195 4431671 Jaden McDaniels
Success 196 4432164 Jaden Springer
Success 197 3136777 Jae'Sean Tate
Success 198 4592691 Jake LaRavia
Success 199 3134908 Jakob Poeltl
Success 200 3934672 Jalen Brunson
Success 201 4433621 Jalen Duren
Success 202 4437244 Jalen Green
Success 203 4243253 Jalen Johnson
Success 204 4066731 Jalen McDaniels
Success 205 3052896 Jalen Smith
Success 206 4432165 Jalen Suggs
Success 207 3125957 Jalen Williams
Success 208 4278572 Jamal Cain
Success 209 3936299 Jamal Murray
Success 210 4280245 Jamaree Bouyea
Success 211 4431712 James Bouknight
Success 212 3992 James Harden
Success 213 3999 James Johnson
Success 214 4432808 James Wiseman
Success 215 4397119 Jared Rhoden
Success 216 4277961 Jaren Jackson Jr.
Success 217 4278077 Jarred Vanderbilt
Success 218 4066328 Jarrett Allen
Success 219 4277928 Jarrett Culver
Success 220 4397916 Jason Preston
Success 221 2596112 Javonte Green
Success 222 4397077 Jaxson Hayes
Success 223 3917376 Jaylen Brown
Success 224 4278541 Jaylen Nowell
Success 225 4371954 Jaylin Williams
Success 226 4065648 Jayson Tatum
Success 227 4066786 Jeff Dowtin Jr.
Success 228 3209 Jeff Green
Success 229 2991070 Jerami Grant
Success 230 4432813 Jeremiah Robinson-Earl
Success 231 4610139 Jeremy Sochan
Success 232 4277922 Jericho Sims
Success 233 3133635 Jevon Carter
Success 234 6430 Jimmy Butler
Success 235 3146557 Jock Landale
Success 236 2528794 Joe Harris
Success 237 2968436 Joe Ingles
Success 238 4397033 Joe Wieskamp
Success 239 3059318 Joel Embiid
Success 240 4432588 John Butler Jr.
Success 241 3908845 John Collins
Success 242 3134932 John Konchar
Success 243 4237 John Wall
Success 244 4432356 Johnny Davis
Success 245 6477 Jonas Valanciunas
Success 246 4065654 Jonathan Isaac
Success 247 4433247 Jonathan Kuminga
Success 248 2528426 Jordan Clarkson
Success 249 4278402 Jordan Goodwin
Success 250 17489 Jordan Hall
Success 251 3134916 Jordan McLaughlin
Success 252 4277883 Jordan Nwora
Success 253 4277956 Jordan Poole
Success 254 4278707 Jordan Schakel
Success 255 4277869 Jose Alvarado
Success 256 4432168 Josh Christopher
Success 257 4871145 Josh Giddey
Success 258 4432811 Josh Green
Success 259 3062679 Josh Hart
Success 260 4687718 Josh Minott
Success 261 4065663 Josh Okogie
Success 262 2581190 Josh Richardson
Success 263 4702176 Joshua Primo
Success 264 3995 Jrue Holiday
Success 265 4401416 Juan Toscano-Anderson
Success 266 4017839 Juancho Hernangomez
Success 267 4592479 Julian Champagnie
Success 268 3064514 Julius Randle
Success 269 4432907 Justin Champagnie
Success 270 2284101 Justin Holiday
Success 271 3116136 Justin Jackson
Success 272 3135047 Justise Winslow
Success 273 3102530 Jusuf Nurkic
Success 274 4278521 KZ Okpala
Success 275 4431699 Kai Jones
Success 276 3136195 Karl-Anthony Towns
Success 277 6450 Kawhi Leonard
Success 278 4594327 Keegan Murray
Success 279 3136779 Keita Bates-Diop
Success 280 4395723 Keldon Johnson
Success 281 2489663 Kelly Olynyk
Success 282 3133603 Kelly Oubre Jr.
Success 283 6479 Kemba Walker
Success 284 4433254 Kendall Brown
Success 285 3056247 Kendrick Nunn
Success 286 4432646 Kennedy Chandler
Success 287 4585610 Kenneth Lofton Jr.
Success 288 3133626 Kenrich Williams
Success 289 2581018 Kentavious Caldwell-Pope
Success 290 4431828 Kenyon Martin Jr.
Success 291 4702177 Keon Ellis
Success 292 4432192 Keon Johnson
Success 293 4397693 Kessler Edwards
Success 294 3202 Kevin Durant
Success 295 4066372 Kevin Huerter
Success 296 4278075 Kevin Knox II
Success 297 3449 Kevin Love
Success 298 4397140 Kevin Porter Jr.
Success 299 4570674 Kevon Harris
Success 300 3155535 Kevon Looney
Success 301 2578240 Khem Birch
Success 302 6609 Khris Middleton
Success 303 4683024 Killian Hayes
Success 304 4395698 Kira Lewis Jr.
Success 305 6475 Klay Thompson
Success 306 3102531 Kristaps Porzingis
Success 307 2993874 Kyle Anderson
Success 308 3134907 Kyle Kuzma
Success 309 3012 Kyle Lowry
Success 310 6442 Kyrie Irving
Success 311 4432816 LaMelo Ball
Success 312 4066405 Lamar Stevens
Success 313 3914044 Landry Shamet
Success 314 2580365 Larry Nance Jr.
Success 315 4066336 Lauri Markkanen
Success 316 1966 LeBron James
Success 317 4683025 Leandro Bolmaro
Success 318 4066317 Lindy Waters III
Success 319 4277890 Lonnie Walker IV
Success 320 4397020 Luguentz Dort
Success 321 3945274 Luka Doncic
Success 322 4277951 Luka Garza
Success 323 3913174 Luke Kennard
Success 324 3064560 Luke Kornet
Success 325 4066668 Malachi Flynn
Success 326 4565201 Malaki Branham
Success 327 2566769 Malcolm Brogdon
Success 328 3056245 Malcolm Hill
Success 329 3907822 Malik Beasley
Success 330 4066262 Malik Monk
Success 331 3947156 Mamadi Diakite
Success 332 4432179 MarJon Beauchamp
Success 333 6462 Marcus Morris Sr.
Success 334 2990992 Marcus Smart
Success 335 4701232 Mark Williams
Success 336 4066636 Markelle Fultz
Success 337 6461 Markieff Morris
Success 338 4683622 Marko Simonovic
Success 339 4277848 Marvin Bagley III
Success 340 2488653 Mason Plumlee
Success 341 3907498 Matisse Thybulle
Success 342 11237 Matt Ryan
Success 343 2489716 Matthew Dellavedova
Success 344 4432582 Max Christie
Success 345 4065778 Max Strus
Success 346 2960236 Maxi Kleber
Success 347 4278507 McKinley Wright IV
Success 348 4065660 Mfiondu Kabengele
Success 349 4066399 Micah Potter
Success 350 4820852 Michael Foster Jr.
Success 351 4278104 Michael Porter Jr.
Success 352 3147657 Mikal Bridges
Success 353 3195 Mike Conley
Success 354 2490089 Mike Muscala
Success 355 4431823 Miles McBride
Success 356 4351852 Mitchell Robinson
Success 357 4277919 Mo Bamba
Success 358 3059310 Monte Morris
Success 359 2991055 Montrezl Harrell
Success 360 3150844 Moritz Wagner
Success 361 4397126 Moses Brown
Success 362 4432171 Moses Moody
Success 363 4433249 Moussa Diabate
Success 364 3133628 Myles Turner
Success 365 4278594 Naji Marshall
Success 366 4395652 Nassir Little
Success 367 4067325 Nathan Knight
Success 368 4396971 Naz Reid
Success 369 4397424 Neemias Queta
Success 370 2991280 Nerlens Noel
Success 371 4278067 Nic Claxton
Success 372 4278076 Nick Richards
Success 373 4278039 Nickeil Alexander-Walker
Success 374 3416 Nicolas Batum
Success 375 3112335 Nikola Jokic
Success 376 4997528 Nikola Jovic
Success 377 6478 Nikola Vucevic
Success 378 3078284 Noah Vonleh
Success 379 2595516 Norman Powell
Success 380 3934719 O.G. Anunoby
Success 381 4278355 Obi Toppin
Success 382 4397018 Ochai Agbaji
Success 383 4431680 Onyeka Okongwu
Success 384 4593049 Orlando Robinson
Success 385 4278031 Oshae Brissett
Success 386 2594922 Otto Porter Jr.
Success 387 4997526 Ousmane Dieng
Success 388 3033 P.J. Tucker
Success 389 4278078 P.J. Washington
Success 390 3923250 PJ Dozier
Success 391 4432573 Paolo Banchero
Success 392 3149673 Pascal Siakam
Success 393 2578239 Pat Connaughton
Success 394 4433246 Patrick Baldwin Jr.
Success 395 3964 Patrick Beverley
Success 396 4431687 Patrick Williams
Success 397 4004 Patty Mills
Success 398 4251 Paul George
Success 399 4278562 Paul Reed
Success 400 4066354 Payton Pritchard
Success 401 4576087 Peyton Watson
Success 402 4431679 Precious Achiuwa
Success 403 4397014 Quentin Grimes
Success 404 4592829 Quenton Jackson
Success 405 4590530 R.J. Hampton
Success 406 4395625 RJ Barrett
Success 407 2968361 Raul Neto
Success 408 2528779 Reggie Bullock
Success 409 6443 Reggie Jackson
Success 410 2993370 Richaun Holmes
Success 411 4011 Ricky Rubio
Success 412 2490620 Robert Covington
Success 413 4066211 Robert Williams III
Success 414 3447 Robin Lopez
Success 415 2488826 Rodney McGruder
Success 416 4397008 Romeo Langford
Success 417 4397251 Ron Harper Jr.
Success 418 2583632 Royce O'Neale
Success 419 3005 Rudy Gay
Success 420 3032976 Rudy Gobert
Success 421 4066648 Rui Hachimura
Success 422 3468 Russell Westbrook
Success 423 2991047 Ryan Arcidiacono
Success 424 4591725 Ryan Rollins
Success 425 4278124 Saben Lee
Success 426 4397136 Saddiq Bey
Success 427 4065804 Sam Hauser
Success 428 4278580 Sandro Mamukelashvili
Success 429 4593125 Santi Aldama
Success 430 4433134 Scottie Barnes
Success 431 4431785 Scotty Pippen Jr.
Success 432 3439 Serge Ibaka
Success 433 2326307 Seth Curry
Success 434 4914336 Shaedon Sharpe
Success 435 4278073 Shai Gilgeous-Alexander
Success 436 3915195 Shake Milton
Success 437 3899664 Simone Fontecchio
Success 438 2580782 Spencer Dinwiddie
Success 439 3134881 Stanley Johnson
Success 440 3975 Stephen Curry
Success 441 3057187 Sterling Brown
Success 442 2991235 Steven Adams
Success 443 3133602 Svi Mykhailiuk
Success 444 2530530 T.J. McConnell
Success 445 2982334 T.J. Warren
Success 446 3986 Taj Gibson
Success 447 4396991 Talen Horton-Tucker
Success 448 4433192 Tari Eason
Success 449 2990962 Taurean Prince
Success 450 3907823 Terance Mann
Success 451 3919454 Terence Davis
Success 452 6619 Terrence Ross
Success 453 3074752 Terry Rozier
Success 454 4279815 Terry Taylor
Success 455 3244 Thaddeus Young
Success 456 3102533 Thanasis Antetokounmpo
Success 457 4683027 Theo Maledon
Success 458 3138154 Theo Pinson
Success 459 3934723 Thomas Bryant
Success 460 2528210 Tim Hardaway Jr.
Success 461 6440 Tobias Harris
Success 462 4065673 Tony Bradley
Success 463 2528693 Torrey Craig
Success 464 4277905 Trae Young
Success 465 3084848 Tre Jones
Success 466 4432819 Tre Mann
Success 467 4431675 Trendon Watford
Success 468 4065656 Trent Forrest
Success 469 4409222 Trevelin Queen
Success 470 5075393 Trevor Hudgins
Success 471 4432645 Trevor Keels
Success 472 3136196 Trey Lyles
Success 473 4397688 Trey Murphy III
Success 474 4278508 Troy Brown Jr.
Success 475 4065733 Ty Jerome
Success 476 4683749 TyTy Washington Jr.
Success 477 3915560 Tyler Dorsey
Success 478 4395725 Tyler Herro
Success 479 4396993 Tyrese Haliburton
Success 480 4397179 Tyrese Martin
Success 481 4431678 Tyrese Maxey
Success 482 3135046 Tyus Jones
Success 483 4066299 Udoka Azubuike
Success 484 2184 Udonis Haslem
Success 485 4871143 Usman Garuba
Success 486 4431669 Vernon Carey Jr.
Success 487 2527963 Victor Oladipo
Success 488 4397227 Vince Williams Jr.
Success 489 4578893 Vit Krejci
Success 490 4230557 Vlatko Cancar
Success 491 4433136 Walker Kessler
Success 492 4277847 Wendell Carter Jr.
Success 493 4592187 Wendell Moore Jr.
Success 494 4066264 Wenyen Gabriel
Success 495 4032 Wesley Matthews
Success 496 6579 Will Barton
Success 497 2999409 Willy Hernangomez
Success 498 4277964 Xavier Tillman
Success 499 3133838 Yuta Watanabe
Success 500 4066650 Zach Collins
Success 501 3064440 Zach LaVine
Success 502 4431690 Zeke Nnaji
Success 503 4433137 Ziaire Williams
Success 504 4395628 Zion Williamson

In [97]:
PLAYERS.tail()

              PLAYER TEAM AGE DRAFT YEAR ESPN_GAMELOG_ID
500     Zach Collins  SAS  25       2017         4066650
501      Zach LaVine  CHI  27       2014         3064440
502       Zeke Nnaji  DEN  22       2020         4431690
503  Ziaire Williams  MEM  21       2021         4433137
504  Zion Williamson  NOP  22       2019         4395628

In [98]:
import psycopg2
from sqlalchemy import create_engine

def connect_psql(dataframe, table_name, exists):
    conn_string = 'postgresql://postgres:Tigers11@localhost:5432/sportsData'
    engine = create_engine(conn_string)

    dataframe.to_sql(table_name, con=engine, if_exists=exists, index=False)

    conn = psycopg2.connect(conn_string)
    conn.autocommit = True

In [99]:
connect_psql(PLAYERS, 'NBA_PLAYERS', 'replace')

In [87]:
PLAYERS.to_excel('player_info.xlsx', index=False)

In [100]:
def get_yearly_player_gamelog(PLAYER_URL, YEAR, PLAYER_NAME):
    try:
        HTML_RESULTS = pd.read_html('{}{}'.format(PLAYER_URL, YEAR))
        LEN_HTML_RESULTS = len(HTML_RESULTS)
        EMPTY_LIST = []

        for ORDER in range(LEN_HTML_RESULTS):
            if len(HTML_RESULTS[ORDER].columns.tolist())==17:
                if LEN_HTML_RESULTS - 2 == ORDER:
                    TABLE = HTML_RESULTS[ORDER]
                    TABLE['Type'] = 'Preseason'
                else:
                    TABLE = HTML_RESULTS[ORDER]
                    if len(TABLE[(TABLE['OPP'].str.contains('GAME'))])>0:
                        TABLE['Type'] = 'Postseason'
                    else:
                        TABLE['Type'] = 'Regular'
                EMPTY_LIST.append(TABLE)
            else: 
                pass
        
        DF = pd.concat(EMPTY_LIST, sort=False, ignore_index=True)    
        DF = DF[(DF['OPP'].str.startswith('@')) |
                (DF['OPP'].str.startswith('vs'))].reset_index(drop=True)
        DF['Season'] = '{}-{:02d}'.format(int(YEAR)-1, int(YEAR)-2000)
        DF['Player'] = PLAYER_NAME
        DF = DF.set_index(['Player', 'Season', 'Type']).reset_index()
        # Successful 3P Attempt
        DF['3PT_SA'] = DF['3PT'].str.split('-').str[0]
        # Failed 3P Attempt
        DF['3PT_A'] = DF['3PT'].str.split('-').str[1]
        DF[
            ['MIN', 'FG%', '3P%', 'FT%', 'REB', 'AST', 'BLK', 'STL', 'PF', 'TO', 'PTS', '3PT_SA', '3PT_A']

          ] = DF[

                ['MIN', 'FG%', '3P%', 'FT%', 'REB', 'AST', 'BLK', 'STL', 'PF', 'TO', 'PTS', '3PT_SA', '3PT_A']

                ].astype(float)    
        return DF    
    except Exception as e:       
        pass

In [35]:
test = get_yearly_player_gamelog('https://www.espn.com/nba/player/gamelog/_/id/{}/'.format(
            '3064290'), '2023', 'Aaron Gordon')
test.head()

,Player,Season,Type,Date,OPP,Result,MIN,FG,FG%,3PT,...,FT%,REB,AST,BLK,STL,PF,TO,PTS,3PT_SA,3PT_A
0,Aaron Gordon,2022-23,Regular,Fri 1/6,vsCLE,W121-108,30.0,4-8,50.0,1-2,...,50.0,10.0,1.0,0.0,0.0,2.0,0.0,12.0,1.0,2.0
1,Aaron Gordon,2022-23,Regular,Thu 1/5,vsLAC,W122-91,21.0,5-7,71.4,0-0,...,75.0,7.0,3.0,0.0,0.0,0.0,1.0,13.0,0.0,0.0
2,Aaron Gordon,2022-23,Regular,Mon 1/2,@MIN,L124-111,33.0,4-18,22.2,0-3,...,66.7,16.0,6.0,0.0,1.0,3.0,1.0,12.0,0.0,3.0
3,Aaron Gordon,2022-23,Regular,Sun 1/1,vsBOS,W123-111,37.0,6-13,46.2,1-2,...,83.3,6.0,7.0,1.0,2.0,1.0,2.0,18.0,1.0,2.0
4,Aaron Gordon,2022-23,Regular,Fri 12/30,vsMIA,W124-119,33.0,4-8,50.0,0-1,...,60.0,5.0,3.0,0.0,2.0,1.0,3.0,11.0,0.0,1.0

In [2]:
import psycopg2
import pandas as pd

def exec_query(query):
    conn = psycopg2.connect(
        database="sportsData", user="postgres", password="Tigers11", host="localhost", port="5432"
    )
    DF = pd.read_sql(query, conn)
    return DF

PLAYERS = exec_query('''SELECT * FROM public."NBA_PLAYERS"''')

PLAYERS.tail()

/Users/jorge/opt/anaconda3/envs/trading/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

              PLAYER TEAM AGE DRAFT YEAR ESPN_GAMELOG_ID
490     Zach Collins  SAS  25       2017         4066650
491      Zach LaVine  CHI  27       2014         3064440
492       Zeke Nnaji  DEN  22       2020         4431690
493  Ziaire Williams  MEM  21       2021         4433137
494  Zion Williamson  NOP  22       2019         4395628

In [101]:
PLAYERS.reset_index(drop=True)

LIST_TO_CONCAT = []

for INDEX, ROW in PLAYERS.iterrows():
    LIST_TO_CONCAT.append(
        get_yearly_player_gamelog(
            'https://www.espn.com/nba/player/gamelog/_/id/{}/'.format(
            PLAYERS.loc[INDEX, 'ESPN_GAMELOG_ID']    
            ), 
            '2023', 
            PLAYERS.loc[INDEX, 'PLAYER'])                  
                                )
    
gamelog_02_13_23 = pd.concat(LIST_TO_CONCAT, sort=False, ignore_index=True)        

gamelog_02_13_23.tail()

,Player,Season,Type,Date,OPP,Result,MIN,FG,FG%,3PT,...,FT%,REB,AST,BLK,STL,PF,TO,PTS,3PT_SA,3PT_A
19249,Zion Williamson,2022-23,Regular,Wed 10/19,@BKN,W130-108,30.0,11-22,50.0,0-0,...,75.0,9.0,3.0,0.0,4.0,3.0,2.0,25.0,0.0,0.0
19250,Zion Williamson,2022-23,Preseason,Wed 10/12,@MIA,L120-103,11.0,3-7,42.9,0-0,...,83.3,2.0,4.0,0.0,0.0,2.0,0.0,11.0,0.0,0.0
19251,Zion Williamson,2022-23,Preseason,Sun 10/9,@SA,W111-97,24.0,3-7,42.9,1-1,...,50.0,9.0,5.0,1.0,1.0,3.0,4.0,8.0,1.0,1.0
19252,Zion Williamson,2022-23,Preseason,Fri 10/7,vsDET,W107-101,20.0,5-10,50.0,0-0,...,25.0,1.0,1.0,0.0,0.0,2.0,2.0,13.0,0.0,0.0
19253,Zion Williamson,2022-23,Preseason,Tue 10/4,@CHI,W129-125,15.0,4-6,66.7,0-0,...,100.0,4.0,1.0,0.0,1.0,0.0,1.0,13.0,0.0,0.0

In [102]:
gamelog_02_13_23["Date"] = pd.to_datetime(gamelog_02_13_23["Date"],format='%a %m/%d')
gamelog_02_13_23["Date"] = gamelog_02_13_23["Date"].apply(lambda x: x.replace(year = x.year + 122))

gamelog_02_13_23.tail()

,Player,Season,Type,Date,OPP,Result,MIN,FG,FG%,3PT,...,FT%,REB,AST,BLK,STL,PF,TO,PTS,3PT_SA,3PT_A
19249,Zion Williamson,2022-23,Regular,2022-10-19,@BKN,W130-108,30.0,11-22,50.0,0-0,...,75.0,9.0,3.0,0.0,4.0,3.0,2.0,25.0,0.0,0.0
19250,Zion Williamson,2022-23,Preseason,2022-10-12,@MIA,L120-103,11.0,3-7,42.9,0-0,...,83.3,2.0,4.0,0.0,0.0,2.0,0.0,11.0,0.0,0.0
19251,Zion Williamson,2022-23,Preseason,2022-10-09,@SA,W111-97,24.0,3-7,42.9,1-1,...,50.0,9.0,5.0,1.0,1.0,3.0,4.0,8.0,1.0,1.0
19252,Zion Williamson,2022-23,Preseason,2022-10-07,vsDET,W107-101,20.0,5-10,50.0,0-0,...,25.0,1.0,1.0,0.0,0.0,2.0,2.0,13.0,0.0,0.0
19253,Zion Williamson,2022-23,Preseason,2022-10-04,@CHI,W129-125,15.0,4-6,66.7,0-0,...,100.0,4.0,1.0,0.0,1.0,0.0,1.0,13.0,0.0,0.0

In [ ]:
new_date_format = []

for i in gamelog_02_13_23["Date"]:
    if i.month in (1, 2, 3, 4):
        i = str(i.month) + "-" + str(i.day) + "-" + str(i.year+1)
        new_date_format.append(i)
    else:
        i = str(i.month) + "-" + str(i.day) + "-" + str(i.year)
        new_date_format.append(i)

print(new_date_format)

In [106]:
gamelog_02_13_23["Date"] = new_date_format
gamelog_02_13_23["Date"] = pd.to_datetime(gamelog_02_13_23["Date"],format='%m-%d-%Y')

gamelog_02_13_23.head()

,Player,Season,Type,Date,OPP,Result,MIN,FG,FG%,3PT,...,FT%,REB,AST,BLK,STL,PF,TO,PTS,3PT_SA,3PT_A
0,AJ Griffin,2022-23,Regular,2023-02-11,vsSA,W125-106,17.0,1-7,14.3,0-3,...,0.0,3.0,0.0,0.0,0.0,2.0,1.0,2.0,0.0,3.0
1,AJ Griffin,2022-23,Regular,2023-02-09,vsPHX,W116-107,15.0,3-7,42.9,0-1,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,6.0,0.0,1.0
2,AJ Griffin,2022-23,Regular,2023-02-07,@NO,L116-107,18.0,2-5,40.0,1-3,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,5.0,1.0,3.0
3,AJ Griffin,2022-23,Regular,2023-02-04,@DEN,L128-108,26.0,6-11,54.5,1-3,...,100.0,2.0,4.0,0.0,0.0,1.0,1.0,15.0,1.0,3.0
4,AJ Griffin,2022-23,Regular,2023-02-03,@UTAH,W115-108,14.0,2-6,33.3,1-3,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,5.0,1.0,3.0

In [107]:
connect_psql(gamelog_02_13_23, 'NBA_GAMELOG', 'replace')

## Export gamelog to excel

In [108]:
gamelog_02_13_23.to_excel('gamelog.xlsx', index=False)

## Get teams data

In [109]:
import requests
from bs4 import BeautifulSoup

url = "https://www.espn.com/nba/team"  # change this to the URL of the website you want to scrape

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

search_string = "nba"

link_list = []

for link in soup.find_all('a'):
    link_url = link.get('href')
    if search_string in link_url:
        link_list.append(link_url)

In [110]:
team_list = ["atl", "bkn", "cha", "chi", "cle", "dal", "den", "det", "gs" , "hou", "ind", "lac", "lal", "mem",
 "mia", "mil", "min", "no" , "ny" , "okc", "orl", "phi", "phx", "por", "sac", "sa" , "tor", "utah", "wsh"]

In [111]:
HTML_RESULTS = pd.read_html('https://www.espn.com/nba/team/schedule/_/name/atl')

print(HTML_RESULTS)

[              0                1         2       3                      4  \
0          DATE         OPPONENT    RESULT     W-L              Hi Points
1   Wed, Oct 19       vs Houston  W117-107     1-0             Collins 24
2   Fri, Oct 21       vs Orlando   W108-98     2-0               Young 25
3   Sun, Oct 23     vs Charlotte  L126-109     2-1               Young 28
4   Wed, Oct 26        @ Detroit  W118-113     3-1               Young 35
..          ...              ...       ...     ...                    ...
79   Sun, Apr 2        vs Dallas   6:00 PM  NBA TV  Tickets as low as $60
80   Tue, Apr 4        @ Chicago   8:00 PM     NaN  Tickets as low as $43
81   Wed, Apr 5    vs Washington   7:30 PM     NaN  Tickets as low as $30
82   Fri, Apr 7  vs Philadelphia   7:30 PM     NaN  Tickets as low as $50
83   Sun, Apr 9         @ Boston   1:00 PM     NaN  Tickets as low as $76

                        5           6
0             Hi Rebounds  Hi Assists
1               Okongwu 9    Young 13
2              Collins 13    Young 13
3               Capela 10     Young 9
4              Collins 11    Murray 8
..                    ...         ...
79  Tickets as low as $60         NaN
80  Tickets as low as $43         NaN
81  Tickets as low as $30         NaN
82  Tickets as low as $50         NaN
83  Tickets as low as $76         NaN

[84 rows x 7 columns]]

In [112]:
LEN_HTML_RESULTS = len(HTML_RESULTS)
EMPTY_LIST = []

for ORDER in range(LEN_HTML_RESULTS):
    EMPTY_LIST.append(TABLE)

DF_TEST = pd.concat(EMPTY_LIST, sort=False, ignore_index=True)   

DF_TEST.head()

,GP,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OR,DR,REB,AST,STL,BLK,TO,PF
0,54,106.9,39.1,83.7,46.6,11.7,31.4,37.2,17.1,22.2,77.0,9.3,31.2,40.5,22.6,7.3,4.2,14.2,21.0
1,53,108.1,39.4,82.8,47.5,13.2,36.0,36.6,16.2,20.9,77.4,8.6,33.6,42.3,25.2,6.9,3.8,15.9,19.7
2,55,110.5,40.7,87.2,46.7,11.8,33.4,35.4,17.2,22.6,76.1,10.1,33.0,43.1,24.2,7.7,4.3,12.3,19.1
3,50,110.7,40.3,85.6,47.0,11.2,32.8,34.2,18.9,24.2,78.3,9.7,32.5,42.2,23.9,6.8,5.0,14.5,19.7
4,52,111.8,41.8,92.1,45.4,11.7,33.5,35.0,16.5,21.2,77.7,10.8,33.6,44.4,22.9,7.3,4.3,12.0,19.0

In [113]:
HTML_RESULTS = pd.read_html('https://www.espn.com/nba/team/schedule/_/name/atl')
LEN_HTML_RESULTS = len(HTML_RESULTS)
EMPTY_LIST = []

for ORDER in range(LEN_HTML_RESULTS):
    if len(HTML_RESULTS[ORDER].columns.tolist())==7:
        if LEN_HTML_RESULTS== ORDER:
            TABLE = HTML_RESULTS[ORDER]
        else:
            TABLE = HTML_RESULTS[ORDER]
        EMPTY_LIST.append(TABLE)
    else: 
        pass

DF_TEST = pd.concat(EMPTY_LIST, sort=False, ignore_index=True)   
DF_TEST["TEAM"] = "atl"
DF_TEST.head()

,0,1,2,3,4,5,6,TEAM
0,DATE,OPPONENT,RESULT,W-L,Hi Points,Hi Rebounds,Hi Assists,atl
1,"Wed, Oct 19",vs Houston,W117-107,1-0,Collins 24,Okongwu 9,Young 13,atl
2,"Fri, Oct 21",vs Orlando,W108-98,2-0,Young 25,Collins 13,Young 13,atl
3,"Sun, Oct 23",vs Charlotte,L126-109,2-1,Young 28,Capela 10,Young 9,atl
4,"Wed, Oct 26",@ Detroit,W118-113,3-1,Young 35,Collins 11,Murray 8,atl

In [38]:
DF_TEST.tail()

,0,1,2,3,4,5,6
79,"Sun, Apr 2",vs Dallas,6:00 PM,NBA TV,Tickets as low as $55,Tickets as low as $55,NaN
80,"Tue, Apr 4",@ Chicago,8:00 PM,NaN,Tickets as low as $44,Tickets as low as $44,NaN
81,"Wed, Apr 5",vs Washington,7:30 PM,NaN,Tickets as low as $32,Tickets as low as $32,NaN
82,"Fri, Apr 7",vs Philadelphia,7:30 PM,NaN,Tickets as low as $49,Tickets as low as $49,NaN
83,"Sun, Apr 9",@ Boston,1:00 PM,NaN,Tickets as low as $65,Tickets as low as $65,NaN

In [ ]:
PLAYERS.reset_index(drop=True)

LIST_TO_CONCAT = []

for INDEX, ROW in PLAYERS.iterrows():
    LIST_TO_CONCAT.append(
        get_yearly_player_gamelog(
            'https://www.espn.com/nba/player/gamelog/_/id/{}/'.format(
            PLAYERS.loc[INDEX, 'ESPN_GAMELOG_ID']    
            ), 
            '2023', 
            PLAYERS.loc[INDEX, 'PLAYER'])                  
                                )
    
gamelog_02_01_23 = pd.concat(LIST_TO_CONCAT, sort=False, ignore_index=True)        

gamelog_02_01_23.tail()

In [41]:

def get_schedule(URL, TEAM):
    try:

        HTML_RESULTS = pd.read_html('{}'.format(URL))
        LEN_HTML_RESULTS = len(HTML_RESULTS)
        EMPTY_LIST = []

        for ORDER in range(LEN_HTML_RESULTS):
            if len(HTML_RESULTS[ORDER].columns.tolist())==7:
                if LEN_HTML_RESULTS== ORDER:
                    TABLE = HTML_RESULTS[ORDER]
                else:
                    TABLE = HTML_RESULTS[ORDER]
                EMPTY_LIST.append(TABLE)
            else: 
                pass

        DF = pd.concat(EMPTY_LIST, sort=False, ignore_index=True)   
        DF["TEAM"] = TEAM

        return DF    
    except Exception as e:       
        pass

## Team Schedule

In [ ]:
LIST_TO_CONCAT = []

for i in team_list:
    LIST_TO_CONCAT.append(
        get_schedule(f"https://www.espn.com/nba/team/schedule/_/name/{i}", i)
    )
        
    
team_schedule = pd.concat(LIST_TO_CONCAT, sort=False, ignore_index=True)        

team_schedule.tail()

In [46]:
team_schedule.to_excel('team_schedule.xlsx', index=False)

In [47]:
NBA_SCHEDULE = pd.read_excel("./team_schedule.xlsx")

NBA_SCHEDULE.head()

          DATE TEAM           OPP
0  Oct 19 2022  ATL    vs Houston
1  Oct 21 2022  ATL    vs Orlando
2  Oct 23 2022  ATL  vs Charlotte
3  Oct 26 2022  ATL     @ Detroit
4  Oct 28 2022  ATL     @ Detroit

In [50]:
NBA_SCHEDULE["DATE"] = pd.to_datetime(NBA_SCHEDULE["DATE"],format='%b %d %Y')
NBA_SCHEDULE["DATE"] = NBA_SCHEDULE['DATE'].dt.strftime('%m-%d-%Y')
NBA_SCHEDULE.head()

         DATE TEAM           OPP
0  10-19-2022  ATL    vs Houston
1  10-21-2022  ATL    vs Orlando
2  10-23-2022  ATL  vs Charlotte
3  10-26-2022  ATL     @ Detroit
4  10-28-2022  ATL     @ Detroit

In [51]:
connect_psql(NBA_SCHEDULE, 'NBA_SCHEDULE', 'replace')

In [52]:
NBA_SCHEDULE.to_excel('team_schedule.xlsx', index=False)

## TEAM STATS

In [68]:
HTML_RESULTS = pd.read_html('https://www.espn.com/nba/stats/team/_/view/opponent')

#print(HTML_RESULTS[0].columns)

print(len(HTML_RESULTS[1].columns.tolist()))

19

In [65]:
try:

    HTML_RESULTS = pd.read_html('https://www.espn.com/nba/stats/team/_/view/opponent')
    LEN_HTML_RESULTS = len(HTML_RESULTS)
    EMPTY_LIST = []

    for ORDER in range(LEN_HTML_RESULTS):
        if len(HTML_RESULTS[ORDER].columns.tolist())==2:
            if LEN_HTML_RESULTS== ORDER:
                TABLE = HTML_RESULTS[ORDER]
            else:
                TABLE = HTML_RESULTS[ORDER]
            EMPTY_LIST.append(TABLE)
        else: 
            pass

    DF = pd.concat(EMPTY_LIST, sort=False, ignore_index=True)   

except Exception as e:       
    pass

In [70]:
try:

    HTML_RESULTS = pd.read_html('https://www.espn.com/nba/stats/team/_/view/opponent')
    LEN_HTML_RESULTS = len(HTML_RESULTS)
    EMPTY_LIST = []

    for ORDER in range(LEN_HTML_RESULTS):
        if len(HTML_RESULTS[ORDER].columns.tolist())==19:
            if LEN_HTML_RESULTS== ORDER:
                TABLE = HTML_RESULTS[ORDER]
            else:
                TABLE = HTML_RESULTS[ORDER]
            EMPTY_LIST.append(TABLE)
        else: 
            pass

    DATA = pd.concat(EMPTY_LIST, sort=False, ignore_index=True)   

except Exception as e:       
    pass

In [71]:
DATA.head()

,GP,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OR,DR,REB,AST,STL,BLK,TO,PF
0,54,106.9,39.1,83.7,46.6,11.7,31.4,37.2,17.1,22.2,77.0,9.3,31.2,40.5,22.6,7.3,4.2,14.2,21.0
1,53,108.1,39.4,82.8,47.5,13.2,36.0,36.6,16.2,20.9,77.4,8.6,33.6,42.3,25.2,6.9,3.8,15.9,19.7
2,55,110.5,40.7,87.2,46.7,11.8,33.4,35.4,17.2,22.6,76.1,10.1,33.0,43.1,24.2,7.7,4.3,12.3,19.1
3,50,110.7,40.3,85.6,47.0,11.2,32.8,34.2,18.9,24.2,78.3,9.7,32.5,42.2,23.9,6.8,5.0,14.5,19.7
4,52,111.8,41.8,92.1,45.4,11.7,33.5,35.0,16.5,21.2,77.7,10.8,33.6,44.4,22.9,7.3,4.3,12.0,19.0

In [66]:
DF.head()

   RK                 Team
0   1  Cleveland Cavaliers
1   2           Miami Heat
2   3          LA Clippers
3   4   Philadelphia 76ers
4   5      Milwaukee Bucks

In [ ]:
teams = DF["Team"].values.tolist()
teams = [''.join(ele) for ele in teams]

teams

In [75]:
DATA["TEAM"] = teams

DATA.head()

,GP,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OR,DR,REB,AST,STL,BLK,TO,PF,TEAM
0,54,106.9,39.1,83.7,46.6,11.7,31.4,37.2,17.1,22.2,77.0,9.3,31.2,40.5,22.6,7.3,4.2,14.2,21.0,Cleveland Cavaliers
1,53,108.1,39.4,82.8,47.5,13.2,36.0,36.6,16.2,20.9,77.4,8.6,33.6,42.3,25.2,6.9,3.8,15.9,19.7,Miami Heat
2,55,110.5,40.7,87.2,46.7,11.8,33.4,35.4,17.2,22.6,76.1,10.1,33.0,43.1,24.2,7.7,4.3,12.3,19.1,LA Clippers
3,50,110.7,40.3,85.6,47.0,11.2,32.8,34.2,18.9,24.2,78.3,9.7,32.5,42.2,23.9,6.8,5.0,14.5,19.7,Philadelphia 76ers
4,52,111.8,41.8,92.1,45.4,11.7,33.5,35.0,16.5,21.2,77.7,10.8,33.6,44.4,22.9,7.3,4.3,12.0,19.0,Milwaukee Bucks

In [76]:
DATA.tail()

,GP,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OR,DR,REB,AST,STL,BLK,TO,PF,TEAM
25,53,118.1,44.3,93.8,47.2,12.5,36.2,34.7,17.0,22.2,76.5,11.2,34.5,45.7,25.7,7.6,5.4,12.4,21.3,Los Angeles Lakers
26,52,118.3,42.6,90.7,47.0,13.0,35.8,36.3,20.1,26.1,77.0,10.6,33.6,44.2,25.8,7.9,4.2,14.0,18.8,Golden State Warriors
27,53,118.6,43.0,89.5,48.1,13.0,35.5,36.5,19.6,24.9,78.9,10.7,35.5,46.2,26.4,6.6,5.9,14.4,20.7,Charlotte Hornets
28,52,120.1,43.8,88.7,49.4,12.1,33.7,36.0,20.3,25.6,79.3,11.0,33.9,44.9,25.6,7.2,5.7,13.7,21.6,Detroit Pistons
29,52,122.3,46.0,90.1,51.0,12.8,31.8,40.1,17.5,22.7,77.0,10.4,33.1,43.5,26.6,8.3,4.8,13.3,18.8,San Antonio Spurs

## Team offense and defense ranks

In [115]:
def get_defense(url):
    try:
        HTML_TEAMS = pd.read_html(url)
        LEN_HTML_TEAMS = len(HTML_TEAMS)
        EMPTY_TEAMS = []

        for ORDER in range(LEN_HTML_TEAMS):
            if len(HTML_TEAMS[ORDER].columns.tolist())==2:
                if LEN_HTML_TEAMS== ORDER:
                    TEAMS_TABLE = HTML_TEAMS[ORDER]
                else:
                    TEAMS_TABLE = HTML_TEAMS[ORDER]
                EMPTY_TEAMS.append(TEAMS_TABLE)
            else: 
                pass

        TEAMS_DF = pd.concat(EMPTY_TEAMS, sort=False, ignore_index=True)   

    except Exception as e:       
        pass
    
    TEAMS = TEAMS_DF["Team"].values.tolist()
    TEAMS = [''.join(ele) for ele in TEAMS]

    try:

        HTML_STATS = pd.read_html(url)
        LEN_HTML_STATS = len(HTML_STATS)
        EMPTY_STATS = []

        for ORDER in range(LEN_HTML_STATS):
            if len(HTML_STATS[ORDER].columns.tolist())==19:
                if LEN_HTML_STATS== ORDER:
                    STATS_TABLE = HTML_STATS[ORDER]
                else:
                    STATS_TABLE = HTML_STATS[ORDER]
                EMPTY_STATS.append(STATS_TABLE)
            else: 
                pass

        STATS_DF = pd.concat(EMPTY_STATS, sort=False, ignore_index=True)   

    except Exception as e:       
        pass

    STATS_DF["TEAM"] = TEAMS
    return STATS_DF

In [116]:
TEAM_DEFENSE = get_defense('https://www.espn.com/nba/stats/team/_/view/opponent')

TEAM_DEFENSE.head()

,GP,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OR,DR,REB,AST,STL,BLK,TO,PF,TEAM
0,59,105.9,38.8,83.6,46.4,11.3,31.1,36.4,17.0,22.0,77.2,9.3,31.0,40.3,22.7,7.3,4.2,14.3,20.9,Cleveland Cavaliers
1,57,108.1,39.4,82.9,47.5,13.1,35.8,36.5,16.3,21.2,76.9,8.7,33.7,42.3,25.0,7.0,3.9,15.8,19.8,Miami Heat
2,55,110.5,40.4,85.4,47.3,11.3,32.8,34.6,18.5,23.7,78.2,9.7,32.5,42.1,24.0,6.6,4.9,14.3,19.9,Philadelphia 76ers
3,59,111.0,40.9,87.2,46.9,12.2,33.6,36.3,17.1,22.4,76.1,10.0,33.3,43.2,24.3,7.6,4.4,12.4,19.3,LA Clippers
4,58,111.3,40.1,85.8,46.7,11.3,31.5,36.0,19.7,25.1,78.7,10.3,32.6,43.0,23.5,7.5,4.1,14.0,20.3,Phoenix Suns

In [117]:
connect_psql(TEAM_DEFENSE, 'NBA_DEFENSE_STATS', 'replace')
TEAM_DEFENSE.to_excel('defense_stats.xlsx', index=False)

In [118]:
def get_offense(url):
    try:
        HTML_TEAMS = pd.read_html(url)
        LEN_HTML_TEAMS = len(HTML_TEAMS)
        EMPTY_TEAMS = []

        for ORDER in range(LEN_HTML_TEAMS):
            if len(HTML_TEAMS[ORDER].columns.tolist())==2:
                if LEN_HTML_TEAMS== ORDER:
                    TEAMS_TABLE = HTML_TEAMS[ORDER]
                else:
                    TEAMS_TABLE = HTML_TEAMS[ORDER]
                EMPTY_TEAMS.append(TEAMS_TABLE)
            else: 
                pass

        TEAMS_DF = pd.concat(EMPTY_TEAMS, sort=False, ignore_index=True)   

    except Exception as e:       
        pass
    
    TEAMS = TEAMS_DF["Team"].values.tolist()
    TEAMS = [''.join(ele) for ele in TEAMS]

    try:

        HTML_STATS = pd.read_html(url)
        LEN_HTML_STATS = len(HTML_STATS)
        EMPTY_STATS = []

        for ORDER in range(LEN_HTML_STATS):
            if len(HTML_STATS[ORDER].columns.tolist())==19:
                if LEN_HTML_STATS== ORDER:
                    STATS_TABLE = HTML_STATS[ORDER]
                else:
                    STATS_TABLE = HTML_STATS[ORDER]
                EMPTY_STATS.append(STATS_TABLE)
            else: 
                pass

        STATS_DF = pd.concat(EMPTY_STATS, sort=False, ignore_index=True)   

    except Exception as e:       
        pass

    STATS_DF["TEAM"] = TEAMS
    return STATS_DF

In [119]:
TEAM_OFFENSE = get_offense('https://www.espn.com/nba/stats/team')

TEAM_OFFENSE.head()

,GP,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OR,DR,REB,AST,STL,BLK,TO,PF,TEAM
0,56,119.6,43.3,87.5,49.5,13.2,36.2,36.5,19.9,24.8,80.1,9.0,32.8,41.8,26.9,6.9,3.3,13.6,19.8,Sacramento Kings
1,56,118.2,42.9,90.3,47.6,16.6,43.2,38.3,15.8,20.0,79.1,9.9,34.1,44.0,29.8,7.1,3.9,15.9,22.1,Golden State Warriors
2,55,117.9,43.7,92.6,47.2,12.3,33.5,36.7,18.2,22.8,80.0,11.3,32.3,43.7,24.8,8.3,4.9,13.0,21.5,Oklahoma City Thunder
3,58,117.6,42.3,89.2,47.4,14.1,39.0,36.1,18.8,23.9,78.7,11.7,32.6,44.3,25.8,6.5,4.9,14.6,20.7,Utah Jazz
4,57,117.6,41.6,87.9,47.4,15.8,42.1,37.7,18.5,22.4,82.7,9.5,35.6,45.1,26.3,6.2,5.3,13.0,18.9,Boston Celtics

In [84]:
connect_psql(TEAM_OFFENSE, 'NBA_OFFENSE_STATS', 'replace')
TEAM_OFFENSE.to_excel('offense_stats.xlsx', index=False)